# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
ENV/
env/
.venv/

# -------------------------------
# Jupyter Notebook
# -------------------------------
.ipynb_checkpoints/
*.nbconvert.ipynb

# -------------------------------
# IDE / Editor settings
# -------------------------------
.vscode/
.idea/

# -------------------------------
# OS junk files
# -------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
nul
